@font-face {
    font-family: "PixelifySans";
    src: url("Font/PixelifySans.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dream";
    src: url("Font/YuZhouBaiRiMeng.ttf");
    font-weight: normal;
    font-style: normal;
}

.bodycard {
    position: fixed;
    top:0%;
    margin: 0 auto;
    left:0;
    right:0;
    z-index: 1;
}

body {
    background-color: rgb(25, 53, 83);
    text-align: center;
    align-items: center;
}

.cardbg {
    background-color: antiquewhite;
    width: 650px;
    height: 100%;
    min-height: 800px;
    position: fixed;
    margin: 0 auto;
    top: 0%;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 5px 5px rgb(19, 33, 48);
}

.treePic {
    position: fixed;
    top: 3%;
    margin: 0 auto;
    left: 0;
    right: 0;

}

.divider {
    position: fixed;
    background-color: black;
    height: 0.3px;
    width: 650px;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
}
